<?php $store_info = $block->getStoreData(); ?>
<div class="admin__old">
	<div id="result"></div><br/>
	<div class="main-col" id="container">
		<div id="messages">
			<div class="messages">
				<div class="message message-notice notice">
					<div>
						Note : Exported file will be save in <b>var/export</b> directory.
					</div>
				</div>
			</div>
		</div>
		<div class="entry-edit form-inline">
			<form method="post" action="<?php // echo $block->getUrl('*/*/export') ?>" id="export_edit_form" >
			<fieldset id="basic_behaviosr_fieldset" class="fieldsset admin__fieldset no-display" style="display: block;">
				<div class="admin__field field field-basic_behavior">
					<label class="label admin__field-label">
						<span><b>Store View </b></span> &nbsp;&nbsp;
					</label>
					<select id="storeid" name="storeid" class="select admin__control-select">
						<?php  foreach($store_info as $value){ if($value['value']==0){ ?>
							<option value="0"><?php echo $value['label']; ?></option>
						<?php } else { ?>
							<optgroup label="<?php echo $value['label']; ?>"></optgroup>
						<?php if(!empty($value['value'])){ foreach ($value['value'] as $option){ ?>
							<option value="<?php echo $option['value']; ?>"><?php echo "&nbsp;&nbsp;&nbsp;&nbsp;".$option['label'];?></option>
						<?php  } } } } ?>

					</select>
				</div>
							
				<div class="admin__field field field-basic_behavior"> 
					<label class="label admin__field-label">
						<span><b>Export CMS Static Blocks Status</b></span> &nbsp;&nbsp;
					</label>
					<select id="status" name="status" class="select admin__control-select">
						<option value="all"><?php echo "All"; ?></option>
						<option value="1"><?php echo "Enabled"; ?></option>
						<option value="0"><?php echo "Disabled"; ?></option>
					</select>
				</div>
				
				<div class="admin__field field field-basic_behavior"> 
					<label class="label admin__field-label">
						<span><b>Export CMS Static Block ID</b></span> &nbsp;&nbsp;
					</label>
					<select id="block_id" name="block_id" class="select admin__control-select">
						<option value="1"><?php echo "Yes"; ?></option>
						<option value="0"><?php echo "No"; ?></option>
					</select>
				</div> 				
											
				<div class="admin__field field field-basic_behavior">
					<label class="label admin__field-label">
						<span><input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" /></span>
					</label>					
					<button id="export_cmsblocks" type="button" class="action- scalable"><span>Export CMS Static Blocks</span></button>
				</div>
			</fieldset>
			</form>
		</div>
	</div>
</div>
<?php $export_url = $block->getUrl('*/*/export'); ?>
<script type="text/javascript">
 	require([
		'jquery'
	],
	function(jQuery) {
		var storeid = jQuery( "#storeid" ).val();
		jQuery('#storeid').on('change', function (e) {
			var optionSelected = jQuery("option:selected", this);
			storeid = this.value;
		
		});
		
		var status = jQuery( "#status" ).val();
		jQuery('#status').on('change', function (e) {
			var optionSelected = jQuery("option:selected", this);
			status = this.value;
		
		});
		
		var block_id = jQuery( "#block_id" ).val();
		jQuery('#block_id').on('change', function (e) {
			var optionSelected = jQuery("option:selected", this);
			block_id = this.value;
		
		}); 
		
		var exporturl = "<?php echo $export_url ?>";
		jQuery('#export_edit_form').on('click', '#export_cmsblocks', function(event){
			  	jQuery.ajax({
					url : exporturl,
					data: { storeid : storeid , status : status , block_id : block_id} ,
					dataType: 'json',
					type: 'get',
					showLoader:true,
					success: function(data){
						jQuery('#result').html(data);
					}
				});
			})
		}
	);
</script>