<div class="admin__old">
	<div class="main-col" id="container">
	<div id="result"></div><br/>
		<div id="messages">
			<div class="messages">
				<div class="message message-notice notice">
					<div>
						Make sure that data encoding in the file is consistent and saved in CSV (comma separated only) with supported encodings (UTF-8 or ANSI).
					</div>
				</div>
			</div>
		</div>
		<div id="messages">
			<div class="messages">
				<div class="message message-notice notice">
					<div>
						Note: Before import the cms static blocks please refere sample csv files.
					</div>
				</div>
			</div>
		</div>
	
		<div class="entry-edit form-inline">
			<form method="post" action="<?php //echo $block->getUrl('*/*/import') ?>" id="import_edit_form" enctype="multipart/form-data">	
				<fieldset id="base_fieldset" class="fieldset admin__fieldset ">				
					<div class="fieldset admin__field">
						<label class="admin__field-label" for="import_rates_file">
							<span>Select File for Import</span>
						</label>
						<div class="admin__field-control">
							<input type="file" class="input-file required-entry" name="filename" id="filename">
						</div>
			        </div>
							
					<div class="fieldset admin__field">
						<span class="admin__field-label"></span>
						<div class="admin__field-control">
						 	<button id="import_cmsblocks" type="button" class="action-default scalable"><span>Import CMS Static Blocks</span></button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<?php $import_url = $block->getUrl('*/*/import'); ?>
<script type="text/javascript">
 	require([
		'jquery'
	],
	function(jQuery) {
		var importurl = "<?php echo $import_url ?>";
		jQuery('#import_edit_form').on('click', '#import_cmsblocks', function(event){
			var file = document.getElementById("filename");
			var formData = new FormData();
			formData.append("filename", file.files[0]);
			formData.append('form_key', FORM_KEY);
			var filename = jQuery('#filename').val();
			if(filename) {
				jQuery.ajax({
					url : importurl,
					showLoader:true,
					contentType: false,
					processData: false,
					data: formData,                         
					type: 'post',
					success: function(data){
						jQuery('#result').html(data);
					}
				});
			}else{
				alert("Please Upload CSV File");
			}
		})
	}
	);
</script>